<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Profile'" [items]="['Doctors']" [active_item]="'Profile'"></app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                
                <br>
                <div class="user-name">{{rh?.username}}</div>
              </div>
              <img [src]="convertedImg" class="user-img" alt="">
            
                <span class="mobile-label">Gender:</span>
                <div *ngIf="rh?.gender==='Male'">
                  <br>
                  <span class="badge badge-solid-green">{{rh?.gender }}</span>  </div>   
                  <br>         
                <div *ngIf="rh?.gender==='Female'">
                   <span class="badge badge-solid-purple"> {{rh?.gender}}</span></div>   
           
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>{{rh?.mobile}}</span>
              </div> 
        
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
                      <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                About Me
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
         <!-- <div class="row clearfix"> -->
      <div class="body">
        <div class="row">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Rh details</h2>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="UPDATE">
                    <button mat-mini-fab color="primary" (click)="openUpdateModal()" >
                      <mat-icon class="col-white">update</mat-icon>
                    </button>
                                       
                  </div>
              </ul>
            </div>
          </div>
          <div class="body" *ngIf="!isLoading && rh">
            <div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <h6>Email</h6>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput [value]="rh.email"  [disabled]="isInputDisabled">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <h6>Address</h6>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput [value]="rh.address" readonly [disabled]="isInputDisabled">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <h6>Department</h6>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput [value]="rh.department" readonly [disabled]="isInputDisabled">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <h6> Description</h6>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput [value]="rh.information" readonly [disabled]="isInputDisabled">
                  </mat-form-field>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
</mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
      Settings
    </ng-template>
    <div class="header">
      <h2><strong>Security</strong> Settings</h2>
    </div>
    <div class="body">
      <div class="example-container">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" [(ngModel)]="currentPassword">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput type="password" [(ngModel)]="newPassword">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="updatePassword()">Save</button>
    </div>
  </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
