<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboad'" ></app-breadcrumb>
    </div>
    <div class="row clearfix">
         <!-- Welcome Widget -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card welcome-card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-3">
                <img src="assets/images/hi.gif" alt="" class="img-fluid" />
              </div>
              <div class="col-md-9">
                <h4 class="welcome-title">Welcome back, <span>{{ userName }}</span></h4>
                <p class="welcome-text">
                  We are pleased to welcome you to the Linsoft HR space, dedicated to managing your leave, meal vouchers, and HR requests.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
         <!-- Widgets -->
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-purple">
              <i class="material-icons align-middle">assignment_turned_in</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Absences</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> {{ totalProjects }}</h3>
              </div>
            </div>
          </div>
      <!-- Bind the smallChart1Options to the ApexCharts component -->
    <apx-chart 
    [series]="smallChart1Options.series!" 
    [chart]="smallChart1Options.chart!" 
    [xaxis]="smallChart1Options.xaxis!" 
    [yaxis]="smallChart1Options.yaxis!" 
    [colors]="smallChart1Options.colors!" 
    [stroke]="smallChart1Options.stroke!" 
    [legend]="smallChart1Options.legend!" 
    [tooltip]="smallChart1Options.tooltip!" 
    [dataLabels]="smallChart1Options.dataLabels!">
  </apx-chart>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-orange">
              <i class="material-icons align-middle">source</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Employees</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> {{ totalEmployees }}</h3> <!-- Bind totalEmployees -->
              </div>
            </div>
          </div>
          <apx-chart 
            [series]="smallChart2Options.series!" 
            [chart]="smallChart2Options.chart!"
            [xaxis]="smallChart2Options.xaxis!" 
            [yaxis]="smallChart2Options.yaxis!"
            [colors]="smallChart2Options.colors!" 
            [stroke]="smallChart2Options.stroke!"
            [legend]="smallChart2Options.legend!" 
            [tooltip]="smallChart2Options.tooltip!"
            [dataLabels]="smallChart2Options.dataLabels!">
          </apx-chart>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-green">
              <i class="material-icons align-middle">list</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">leaves</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> {{ totalTasks }}</h3>
              </div>
            </div>
          </div>
          <apx-chart 
          [series]="smallChart3Options.series!" 
          [chart]="smallChart3Options.chart!" 
          [xaxis]="smallChart3Options.xaxis!" 
          [yaxis]="smallChart3Options.yaxis!" 
          [colors]="smallChart3Options.colors!" 
          [stroke]="smallChart3Options.stroke!" 
          [legend]="smallChart3Options.legend!" 
          [tooltip]="smallChart3Options.tooltip!" 
          [dataLabels]="smallChart3Options.dataLabels!">
        </apx-chart>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-blue">
              <i class="material-icons align-middle">tips_and_updates</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">check In </h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> {{totalQuestions}}</h3>
              </div>
            </div>
          </div>
          <apx-chart 
          [series]="smallChart4Options.series!" 
          [chart]="smallChart4Options.chart!" 
          [xaxis]="smallChart4Options.xaxis!" 
          [yaxis]="smallChart4Options.yaxis!" 
          [colors]="smallChart4Options.colors!" 
          [stroke]="smallChart4Options.stroke!" 
          [legend]="smallChart4Options.legend!" 
          [tooltip]="smallChart4Options.tooltip!" 
          [dataLabels]="smallChart4Options.dataLabels!">
        </apx-chart>
        </div>
      </div>

    </div>
    <!-- #END# Widgets -->
      <!-- Bar chart with line -->
     
    </div>
      <div class="row clearfix">
      <div class="col-md-12">
        <div class="card leave-card">
          <div class="body">
         <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center gap-2">
              <i class="fas fa-calendar-alt text-primary"></i> <!-- Example icon -->
              <h5 class="mb-0">Recent Leaves</h5>
            </div>
          </div>

              <div *ngIf="leaves && leaves.length > 0; else noLeaves">
                <div *ngFor="let leave of leaves | slice:-3" class="leave-entry">
                <div class="leave-header">
                  <h6><strong> {{ leave.userName }} </strong> :{{ leave.title }}</h6>
                  <span class="badge" [ngClass]="{
                    'approved': leave.category === 'approved',
                    'rejected': leave.category === 'rejected',
                    'pending': leave.category === 'pending'
                  }">
                    {{ leave.category }}
                  </span>
                </div>
                <div class="leave-dates">
                  <div><strong>From:</strong> {{ leave.startDate | date:'mediumDate' }}</div>
                  <div><strong>To:</strong> {{ leave.endDate | date:'mediumDate' }}</div>
                </div>
                <div class="leave-details" *ngIf="leave.details">
                  <strong>Details:</strong> {{ leave.details }}
                </div>
              </div>
            </div>

            <ng-template #noLeaves>
              <div class="no-leaves">
                <p>No leaves to show.</p>
                <img src="assets/images/notask.gif" alt="No Tasks" />
              </div>
            </ng-template>
          </div>
        </div>
      </div>

    </div>
   
   
  </div>
</section>
